//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 26 11:17:20 2019
//! **************************************************************************

SCHEMATIC START;
COMP "LED3_out" LOCATE = SITE "P5" LEVEL 1;
COMP "LED4_out" LOCATE = SITE "M6" LEVEL 1;
COMP "KEY1_in" LOCATE = SITE "C3" LEVEL 1;
COMP "KEY2_in" LOCATE = SITE "D3" LEVEL 1;
COMP "KEY3_in" LOCATE = SITE "E4" LEVEL 1;
COMP "KEY4_in" LOCATE = SITE "E3" LEVEL 1;
COMP "LED1_out" LOCATE = SITE "P4" LEVEL 1;
COMP "LED2_out" LOCATE = SITE "N5" LEVEL 1;
SCHEMATIC END;

